.container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

body,
* {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
